---
title: Home
---
<p>Welcome to my website. You can find game projects I've worked on here, as well as thoughts and essays on games.</p>
<p>I also occassionally stream on Twitch. You can <a href="https://twitch.tv/mickbimmy2 ">visit my stream here</a>.</p>

{% for cat in site.categories %}
    {% if cat[0] == "news" %}
        {% for post in cat[1] %} 
            <hr>
            <div class="post-head">
                <div class="post-head-box"><p>{{post.date | date_to_string}}</p></div>
                <div class="post-head-box"><h3>{{ post.title }}</h3></div>
            </div>
            {{post.content}}
        {%endfor%}
    {%endif%}

{% endfor %}