---
title: Writings
---
<h2>Games</h2>

{% assign game_groups = site.categories.games | group_by_exp: "item", "item.title | truncate: 1, '' | upcase" | sort: "name" %}
{% for group in game_groups %}
    <h3>{{ group.name }}</h3>
    {% assign sorted_group = group.items | sort: "title" %}
    {% for post in sorted_group %}
        <ul>
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        </ul>
    {% endfor %}
{% endfor %}

<br>
<hr>

<h2>Film</h2>

{% assign film_groups = site.categories.films | group_by_exp: "item", "item.title | truncate: 1, '' | upcase" %}
{% for group in film_groups %}
    <h3>{{ group.name }}</h3>
    {% assign sorted_group = group.items | sort: "title" %}
    {% for post in sorted_group %}
        <ul>
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        </ul>
    {% endfor %}
{% endfor %}