html {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background-color: rgb(255, 255, 255);
    width: calc(300px + 25vw);
    margin: auto;
}

header h1 {
    font-size: calc(2em + 2vw);
    margin: 0;
}

header h2 {
    font-size: calc(0.5em + 0.5vw);
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    color: #000000;
}

.row {
    background-color: blueviolet;
}

.column {
    display: inline-block;
    width: 40%;
    padding: 1%;
    background-color: aqua;
}

img {
    width:100%;
}

body h1 {
    display: block;
    font-size: calc(2.5em + 1vw);
    line-height: 1;
}

body p {
    display: block;
    font-size: calc(1em + 0.1vw);
    line-height: 1.6;
}

