html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background-color: rgb(255, 255, 255);
    width: calc(200px + 40vw);
    margin: auto;
}

header h1 {
    font-size: calc(2em + 2vw);
    margin: 0;
}

header h2 {
    font-size: calc(0.5em + 0.5vw);
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    color: #000000;
}

main img {
    display: block;
    padding: 20px 0;
    width: 100%;
}

